## .GITGNORE
## Projeto Gabinete Virtual
## IFRS - RESTINGA
## Desenvolvimento de Sistemas II
## 
## criado e adapatado partir de:
## https://www.gitignore.io

## TODO
#  Avaliar itens das seções:
#  - netbeans
#  - java
#  - maven
##

###### ARQUIVOS E PASTAS ######

## Arquivos
# Inicial '_'
_*
## Pastas
# Inicial '_'
_*/

###############################

###### GERAL ######

# Arquivos Temporários
# MS Office
~$*
*.tmp
*.xlk
# LibreOffice locks
.~lock.*#
# OS junk
# OSX
[Tt]humbs.db
*.DS_Store
# Arquivos Compactados
# * é preferível descompactar os arquivos pois o
#   git possui seu próprio método de compactação
*.7z
*.jar
*.rar
*.zip
*.gz
*.bzip
*.bz2
*.xz
*.lzma
*.cab
# packing-only
*.iso
*.tar
# package management
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm
*.msi
*.msm
*.msp
# Windows Image Cahce
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin
$RECYCLE.BIN/
# Windows Shortcuts
*.lnk

###################

###### IDES ######

## NetBeans
# avaliar...
#nbproject/private/
#build/
#nbbuild/
#dist/
#nbdist/
#nbactions.xml
#nb-configuration.xml
#.nb-gradle/

## Sublime Text 3
# arquivos em cache
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
# workspaces
# * são feitos somente para o usuário
*.sublime-workspace
*.sublime-project

##################

###### LINGUAGENS DE PROGRAMAÇÃO ######

## Node
# Logs
logs
*.log
# Runtime data
pids
*.pid
*.seed
# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt
# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules

## Java
# avaliar...
#*.class
# Package Files #
*.jar
.war
#*.ear
# virtual machine crash logs
# http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#######################################

###### GERENCIADORES DE DEPENDÊNCIA ######

## Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

## Bower
bower_components
.bower-cache
.bower-registry
.bower-tmp

##########################################
